* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#trybewarts-header-title {
  color: white;
}

main {
  background-color: white;
}

#trybewarts-forms-logo {
  height: 500px;
  color: white;
}

.flex-container {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column; /* Requisito 6 */
  width: 675px;
}

.trybewarts-login {
  display: flex;
}

#counter {
  opacity: 70%;
}

#validator {
  margin-top: 1%;
}

/* Requisito 21 */
#form-data {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 3%;
  width: 98.9%;
  background-color: rgb(50, 167, 145);
  color: white;
  padding: 5px;
  text-align: center;
}
